/*Universal Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Poppins", Helvetica, sans-serif;
    line-height: 1.75em;
    background-color: #222222;
    color: #fff;
}


/*Navbar Styles*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 12px;
    margin: 0;
}

.menu li a {
    font-weight: 600;
    margin: 12px;
    padding: 8px;
    text-decoration: none !important;
    color: #aaa;
    transition: all 0.3s ease-in;
}

.menu li a:hover {
    color: #fff;
    border-bottom: 2px solid #7066ff;
}

.logo {
    width: 28px;
    height: 28px;
    padding: 4px;
    margin-left: 12px;
    border: #007CED 1px solid;
    border-radius: 20%;
}


/*Home Styles*/
.indexHero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    height: 95vh;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 16px;
}

.moto {
    font-style: italic;
}

.button {
    width: 156px;
    height: 44px;
    cursor: pointer;
    border-color: #007ced;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #fff !important;
    background-color: #333;
    box-shadow: 0 12px 12px -8px rgba(0, 0, 0, .78);
    display: inline-block;
    position: relative;
    padding: 0.8em 2.1em;
    margin-bottom: 0.75em;
    margin-right: 0.80em;
    font-size: 0.9em !important;
    line-height: 1.2 !important;
    outline: 0;
    border: 2px solid #7066ff;
    text-shadow: none;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    font-weight: 600 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

.buttonWhite {
    border: 2px solid #fff !important;
}

.buttonBlue:hover {
    background-color: #7066ff !important;
    color: #fff !important;
}

.buttonWhite:hover {
    background-color: #fff !important;
    color: #333 !important;
}

.buttonRed {
    border: 0 !important;
    background-color: #D50032;
    color: #fff !important;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease 0s;
    min-height: 40px;
    width: max-content;
    max-width: 288px;
    border-radius: 0.125rem !important;
    font-weight: 400;
    padding: 0.25rem 1rem;
    line-height: 1.2;
    font-size: 1rem;
    box-shadow: none !important;
    border-radius: 0.125rem;
    padding: 0.25rem 1rem;
}

.buttonRed:hover {
    background-color: #D50000 !important;
    color: #fff !important;
}

a {
    color: #007CED;
}

.title {
    color: #aaa;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    margin: 1.33em 0;
    line-height: 1.2;
}

p {
    color: #aaa;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px !important;
    font-style: normal;
}

.me {
    max-width: 336px;
    border-radius: 50%;
    border: 8px solid #7066ff;
    margin: 4rem;
    /*filter: grayscale(100%);*/
}


/*What I Do Secction Styles*/
.whatIDo {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    background-color: #fff;
    color: #222 !important;
    padding: 4px;
    padding-bottom: 0 !important;
    margin: 0;
    width: 100%;
}
.whatIDoTitle {
    display: inline-block;
    position: relative;
    font-size: 21px;
    margin: 0 auto;
    margin-top: 16px;
    font-weight: 750;
    z-index: 1;
    padding: 8px;
    background-image: linear-gradient(to right, #7066ff, #7066ff 50%, #D50032 50%, #D50032);
    background-size: 100% 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.whatIDo p, .whatIDo h4{
    line-height: 2.1em !important;	
}

.accordion {
    width: 50%;
    margin: 0 auto;
    color: #222;
    background-color: white;
    padding: 25px 25px;
    position: relative;
  }
  
  .accordion .container {
    position: relative;
    margin: 10px 10px;
    margin: 0 auto;
    align-items: center;
  }
  
  .accordion .label {
    position: relative;
    padding: 24px 16px 24px 0px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3D40;
    cursor: pointer;
  }
  
  .accordion .label::before {
    content: '+';
    color: #D50032;
    position: absolute;
    top: 50%;
    right: 28px;
    font-size: 1.3rem;
    line-height: 1.2;
    transform: translateY(-50%);
    font-weight: 550;
  }

  .accordion .label:hover {
    color: #D50032;
  }
  
  .accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    width: calc(100% - 20px);
    overflow: hidden;
    padding: 0 0 0 16px;
    transition: 0.5s;
    color: rgb(58, 61, 64);
    border-bottom: 1px solid gray;
  }
  
  .accordion .container.active .content {
    height: 192px;
  }
  
  .accordion .container.active .label::before {
    content: '-';
    color: #D50032;
    position: absolute;
    top: 50%;
    right: 28px;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 550;
  }


/*Footer Styles*/
.footer {
    display: flex;
    align-items: center;
    background-color: #7066ff;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position:relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid gold;
}

.menuFooter {
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 12px;
    margin: 0;
}

.menuFooter li a {
    font-weight: 550;
    margin: 12px;
    padding: 8px;
    text-decoration: none !important;
    color: #fff;
}

.menuFooter li a:hover {
    color: gold;
}